<div style="background: #ccc">
  <h1>Здесь есть HEADER</h1>
  <ul class='dropdown-menu'>
    <% ZgHeader::Engine.sites.each do |slug, site| %>
      <li><%= link_to site['title'].html_safe, site['link'] %></li>
    <% end %>
    Дратути
    <% unless user_signed_in? %>
      <%= link_to 'Войти', new_user_session_path %>
      <%= link_to 'Регистрация', new_user_registration_path %>
    <% else %>
      <%= link_to 'Выйти', destroy_user_session_path, method: :delete %>
      <div>
        Redis info
        <br>
        <%= current_user.redis_info %>
      </div>
    <% end %>
  </ul>
</div>
