<div style="background: #ccc">
  <h1>Здесь есть HEADER</h1>
  <ul class='dropdown-menu'>
    <% ZgHeader::Engine.sites.each do |slug, site| %>
      <li><%= link_to site['title'].html_safe, site['link'] %></li>
    <% end %>
    <br>
    Дратути
    <% unless user_signed_in? %>
      <%= link_to 'Войти', Settings['profile.sign_in_url'] %>
      <%= link_to 'Регистрация', Settings['profile.sign_up_url'] %>
    <% else %>
      <%= link_to 'Выйти', Settings['profile.sign_out_url'], method: :delete %>
      <div>
        Redis info
        <br>
        <%= current_user.redis_info %>
      </div>
    <% end %>
  </ul>
</div>
