<div class='zg_header'>
  <h1>ЗнайГород <%= Settings.app.name %></h1>
  <ul>
    <% ZgHeader::Engine.sites.each do |slug, site| %>
      <li><%= link_to site['title'].html_safe, site['link'] %></li>
    <% end %>
  </ul>
  <div>
    <% unless user_signed_in? %>
      <span>Здравствуйте</span>
      <%= link_to 'Войти', Settings.profile.sign_in_url %>
      <%= link_to 'Регистрация', Settings.profile.sign_up_url %>
    <% else %>
      <span><%= current_user.redis_info['name'] %></span>
      <%= link_to 'Выйти', Settings.profile.sign_out_url, method: :delete %>
      <%= link_to 'Настройки', Settings.profile.edit %>
    <% end %>
  </div>
</div>
