<div class='zg_header'>
  <nav class='navbar navbar-default'>
    <div class='container-fluid'>
      <div class='navbar-header'>
        <%= link_to '/' + @current_city.try(:slug).to_s,
          class: 'navbar-brand' do %>
          ЗнайГород
          <%= Settings['app.name'] %>
          <%= @current_city.try(:title) %>
        <% end %>
      </div>

      <ul class='nav navbar-nav navbar-right'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown'
            role='button' aria-haspopup='true' aria-expanded='false'>
            Сайты
            <span class='caret'></span>
          </a>
          <ul class='dropdown-menu'>
            <% ZgHeader::Engine.sites.each do |slug, site| %>
              <li><%= link_to site['title'].html_safe, site['link'] %></li>
            <% end %>
          </ul>
        </li>

        <% unless user_signed_in? %>
          <li><%= link_to 'Войти',
            %(#{Settings['profile.sign_in_url']}?#{{ redirect_url: request.original_url }.to_param}) %></li>
          <li><%= link_to 'Регистрация', Settings['profile.sign_up_url'] %></li>
        <% else %>
          <li><%= image_tag current_user.redis_info['avatar_url'], size: '50x50' %></li>
          <li class="dropdown">
            <a href='#' class='dropdown-toggle' data-toggle='dropdown'
              role='button' aria-haspopup='true' aria-expanded='false'>
              <%= current_user.redis_info['name'] %>
              <span class="caret"></span>
            </a>
            <ul class='dropdown-menu'>
              <li><%= link_to 'Сообщения', Settings['profile.messages'] %></li>
              <li><%= link_to 'Настройки', Settings['profile.edit'] %></li>
              <li><%= link_to 'Выйти',
                %(#{Settings['profile.sign_out_url']}?#{{ redirect_url: request.original_url }.to_param}),
                method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
