<div class='zg_header'>
  <nav class='navbar navbar navbar-toggleable-md navbar-light bg-faded'>
    <%= link_to "ЗнайГород  #{Settings.app.name}", Settings.app.main_page, class: 'navbar-brand' %>

    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav navbar-right">
        <li class='nav-item dropdown'>
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Сайты</a>
          <ul class='dropdown-menu' aria-labelledby="navbarDropdownMenuLink">
            <% ZgHeader::Engine.sites.each do |slug, site| %>
              <li class="dropdown-item"><%= link_to site['title'].html_safe, site['link'] %></li>
            <% end %>
          </ul>
        </li>

        <% unless user_signed_in? %>
          <li class='nav-item'><%= link_to 'Войти', Settings.profile.sign_in_url %></li>
          <li class='nav-item'><%= link_to 'Регистрация', Settings.profile.sign_up_url %></li>
        <% else %>
          <li class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= current_user.redis_info['name'] %></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <li class='dropdown-item'><%= link_to 'Настройки', Settings.profile.edit %></li>
              <li class='dropdown-item'><%= link_to 'Выйти', Settings.profile.sign_out_url, method: :delete %></li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
